name: C/C++ CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v2
    - name: init-and-update-submodule
      run: git submodule update --init
    - name: Install dependencies
      run: sudo apt-get update && sudo apt-get install -y libcurl4-openssl-dev clang
    - name: Echo libcurl version
      run: | 
        echo built-shared?
        curl-config --built-shared
        echo libcurl features:
        curl-config --features
        echo libcurl protocols supported:
        curl-config --protocols
        echo libcurl version:
        curl-config --version
    - name: make
      run: make -j $(nproc)
    - name: make test
      run: make test
